body {
    margin:0;
    background-color: #EED2EE;
    font: 100% Arial, sans-serif;
    word-wrap: break-word;
    min-width: 900px;
}

header {
    background-color: #94618e;
    padding: 15px 20%;
}

#header-name {
    font-size: 24px;
}

.main-column {
    width: 60%;
    min-height: 450px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #f8eee7;
}

.menu {
    background-color: #49274a;
    padding-left: 20%;
    padding-right: 20%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #49274a;
    display: table;
    text-align: center;
    width: 100%;
}

.menu li {
    display: table-cell;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111111;
}

a:link, a:visited {
    color: #f8eee7;
    text-decoration: none;
}

.footer {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#message {
    padding: 40px;
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

#page-title {
    padding: 20px 40px 0;
    margin: 0;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

#news,
#user-news,
#search_res,
#moderation-news {
    padding: 40px;
}

#moderation-news {
    text-align: center;
    margin: 0 18%;
    padding-bottom: 0;
}

.news {
    display: block;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.news:last-child {
    padding-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px;
    background-color: #b56357;
    border-radius: 5px;
    margin: 0 0 5px;
}

.post-title {
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
    vertical-align: middle;
    width: 100%;
}

.top {
    word-wrap: break-word;
}

.pub-data,
.category,
.status {
    font-style: italic;
    margin: 5px 0;
}

.moderator-comment {
    background-color: #A5435C;
    padding: 10px;
    text-align: justify;
}

.content {
    padding: 20px;
    overflow: auto;
    background-color: #D8BFD8;
}

.pic {
    max-width: 150px;
    float: left;
    margin-right: 20px;
}

.text {
    margin: 5px 0 20px;
    text-align: justify;
}

.em-category {
    background-color: #9D6B84;
    color: white;
    padding: 2px 10px;
}

.em-status {
    background-color: #8B8386;
    color: white;
    padding: 2px 10px;
}

#fm-search,
#fm-create,
#fm-moderate,
#fm-login {
    font-size: larger;
    padding-bottom: 25px;
}

#fm-search {
    margin: 5% 35% 0;
}

#fm-create {
    margin: 5% 35%;
}

#fm-moderate {
    margin: 0 35%;
}

#fm-login {
    margin: 7% 35% 0;
    text-align: center;
}

#fm-search ul,
#fm-create ul,
#fm-moderate ul,
#fm-login ul {
    list-style-type: none;
}

#fm-search input[type=submit],
#fm-create input[type=submit],
#fm-moderate input[type=submit],
#fm-login input[type=submit] {
    padding: 7px;
    background-color: #54C571;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 16px;
}

 #fm-search select,
 #fm-create select {
    padding: 3px;
    border-radius: 5px;
 }

#fm-create input,
#fm-create textarea,
#fm-moderate input,
#fm-moderate textarea,
#fm-login input {
    border-radius: 5px;
}

#fm-moderate ul {
    overflow: hidden;
    display: table;
}

#fm-moderate li {
    display: table-cell;
    padding-right: 15px;
}

 #fm-moderate textarea {
    /*display: none;*/
}