{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block main_column %}
    <div id='news'>
        {% if news %}
            {% for post in news %}
                <div class='news'>
                    <div class='title'>{{post.title}}</div>
                    <p class='pub-data'>Posted on {{post.timestamp}} by <b>{{ post.user.username }}</b></p>
                    <div class="content">
                        {% if post.attachment %}
                            <img src="{{ post.attachment.url }}" alt="{{ post.title }}" class='pic'/>
                        {% endif %}
                        <div class="text">{{post.text}}</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p id='message'>No news yet :(</p>
        {% endif %}
    </div>
{% endblock %}