{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}

{% block main_column %}
    <p>
        {{user.username}}
    </p>
    <p>
        News:
    </p>
    <div id="user_news">
        {% for post in user_news %}
            <div class="news">
                <p>Status: {{post.status.status}}</p>
                {% ifequal post.status "Not published" %}
                    <p>Moderator's comment: {{ post.comment }}</p>
                {% endifequal %}
                <h2>{{post.title}}</h2>
                <p>{{post.text}}</p>
                {% if post.attachment %}
                    <img src="{{ user_news.attachment.url }}" width="300" height="200" alt="{{ user_news.title }}" />
                {% endif %}
                <p>Posted on {{post.timestamp}}</p>
                {% empty %}
                <p>Add your first news on main page.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}