{% extends 'base.html' %}
{% block title %}{{user.username}}{% endblock %}

{% block main_column %}
    <p id="page-title">
        {{user.username}}'s profile
    </p>
    <div id="user-news">
        {% if user_news %}
            {% for post in user_news %}
                <div class="news">
                    <div class='post-title'>{{post.title}}</div>

                    <p class="status">Status: {{post.status.status}}</p>
                    {% ifequal post.status "Not published" %}
                        <p class="moderator-comment">Moderator's comment: {{ post.comment }}</p>
                    {% endifequal %}

                    {% ifequal post.status.status "Published" %}
                        <p class='pub-data'>Posted on {{post.timestamp}}</p>
                    {% else %}
                        <p class='pub-data'>Created on {{post.timestamp}}</p>
                    {% endifequal %}

                    <div class="content">
                        {% if post.attachment %}
                            <img class='pic' src="{{ post.attachment.url }}" alt="{{ post.title }}" />
                        {% endif %}
                        <div class="text">{{post.text}}</div>
                    </div>
                    <p class='category'>Category: <pre class="pre-category">{{ post.category }}</pre></p>
                </div>
            {% endfor %}
        {% else %}
            <p id='message'>No news from you yet :(</p>
        {% endif %}
    </div>
{% endblock %}